include HISTORY.rst
include LICENSE
include README.rst
include *.py
include *.txt
include Makefile

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include tests *
recursive-include cyl1tf *.pyx
recursive-include docs *.rst conf.py Makefile make.bat *.bib *.txt *.gitkeep
